body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f3f3f3;
    }

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    }

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    }

nav button:hover {
    background-color: #ac99d8;
    }

h1 {
    text-align: center;
    color: #ac99d8;
    margin-bottom: 25px;
    }
p {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}

ul {
    list-style: disc;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding-left: 20px;
    }

 ul li {
    margin-bottom: 8px;
    text-align: left;
    }

.rivit {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
    }

.main-ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
    }

.sub-ul {
    list-style: circle;
    margin-top: 5px;
     padding-left: 20px;
    }
        
.main-ul li, .sub-ul li {
    margin-bottom: 5px;
    text-align: left;
    }