body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f3f3f3;
    }

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    }

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    }

nav button:hover {
    background-color: #ac99d8;
    }

h1 {
    text-align: center;
    color: #ac99d8;
    margin-bottom: 25px;
    }
p {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}

ul {
    list-style: disc;
    margin: 0;
    padding-left: 25px;
    }
    
ul li {
    margin-bottom: 5px;
    }
    
.rivit {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
    }

.kriteerit {
    background-color: #5a5a5a;
    padding: 10px;
    font-weight: bold;
    display: flex;
    border: 1px solid #5a5a5a;
    margin-top: 15px;
    }

.kriteerit div {
    padding: 0 8px;
    }

.arvosana-nimike {
    width: 25%;
    font-weight: bold;
    }

.opiskelija {
    font-weight: bold;
    }

.arvosana {
    border: 1px solid #5a5a5a;
    margin-top: 5px;
    background-color: #5a5a5a;
    }

.arvosana1 {
    background-color: #5a5a5a;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #5a5a5a;
    }

.sisalto {
    padding: 10px 15px;
    }